<div class="casa">
    <div class="techo"></div>
    <div class="pared-frontal">
      <div class="piso-superior">
        <div class="ventana" id="dormitorio1" (click)="cambiarEstado('dormitorio')"></div>
        <div class="ventana" id="dormitorio2" (click)="cambiarEstado('dormitorio')"></div>
      </div>
      <div class="piso-inferior">
        <div class="ventana" id="sala" (click)="cambiarEstado('sala')"></div>
        <div class="puerta">
          <div class="manija"></div>
        </div>
        <div class="ventana" id="cocina" (click)="cambiarEstado('cocina')"></div>
      </div>
    </div>
    <div class="jardin">
      <div class="decoracion">
        <div class="arbol"></div>
        <div class="arbusto"></div>
      </div>
      <div class="decoracion">
        <div class="arbol"></div>
        <div class="arbusto"></div>
      </div>
    </div>
  
    <div class="jardin-2">
      <div class="decoracion">
        <div class="arbol"></div>
        <div class="arbusto"></div>
      </div>
      <div class="decoracion">
        <div class="arbol"></div>
        <div class="arbusto"></div>
      </div>
    </div>
  </div>
  
